@import '_variables';
@import '_mixins';
@import '_animations';

@font-face {
    font-family: "LoveMarker";
    src: url("../assets/fonts/LoveMarker.ttf") format('truetype');
}

@font-face {
    font-family: "ShakaPow";
    src: url("../assets/fonts/ShakaPow.ttf") format('truetype');
}

@font-face {

    font-family: "BebasKai";
    src: url("../assets/fonts/BebasKai.ttf") format('truetype');
}

$love: "LoveMarker";
$comic: "ShakaPow";
$basic: "BebasKai";

// global 
.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.Site-content {
    flex: 1;
}

a {
    text-decoration: none;
}

img{
    border-radius: 10px;
    border:5px solid black;
}

p {
    font-family: $basic;
    font-size: 23px;
    }


// main
#main_container {
    @include container;
    height: 100vh;
}

#title {
    width: 80%;
    margin-left: 8%;
}

#umbrella_rumor {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.logo {   
    width: 45%;
    opacity: 0;
    -webkit-animation: $logoAnimation;
    -moz-animation: $logoAnimation;
    -o-animation: $logoAnimation;
    animation: $logoAnimation;
    animation-delay: 4s;
}

.rumor {
    font-weight: 100;
    font-family: "LoveMarker";
    color: $pink;
    font-size: 55px;
    
}

.rumor .letter {
    margin-top: 60px;
    display: inline-block;    
}

.path {
    @include path;
    animation-name: dash-outer;
}

#path-inner {
    @include path;
    animation-name: dash-inner;
}

// Story Container
#story_container {
    @include container;
    margin-top: 40px;
}

#story {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    text-align: center;
}
.biopics {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#biopic {
    margin: 15px;
    height: 200px;
    width: 200px;
    -webkit-box-shadow: $registryShadow;
    -moz-box-shadow: $registryShadow;
    box-shadow: $registryShadow;
}



// Photos Container
#photos_container {
    @include container;
    margin-top: 40px;
    align-content: center;
    justify-content: space-evenly;
    }
    
    #photos {
        display: flex;
        margin: 25px;
        justify-content: center;
        flex-wrap: wrap;
        img { margin: 15px;}
    }
    
    .photo {
        max-width:350px;
        max-height:250px;
        width: auto;
        height: auto;
    }
    #myspacelink {
        display: flex;
        flex-direction: column;
        align-self: center;
    }
    
    #text {
        font-family: $love;
        color: $pink;
        font-size: 30px;
        align-self: center;
    }
    #text-link {
        @extend #text;
        color: black;
        &:hover, &:active {
            background-color: black;
            color: $pink;
        }
    }
    


//Party Container
#party_container {
    @include container;
    margin-top: 40px;
}

#event {
    display: flex;
    flex-direction: "row";
    justify-content: space-evenly;
    margin: 25px;
}

#subtitle {
    font-family: $love;
    font-size: 25px;
    background-color: $pink;
    padding: 2px;
    color: white;
    letter-spacing: 10px;
    -webkit-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);
}

#paragraph {
    max-width: 35%;
    flex-wrap: wrap;
    padding: 15px;
}

#partyimg {
    max-width:900px;
    max-height:600px;
    width: auto;
    height: auto;}

#registry_container  {
    @include container;
    align-content: center;
    justify-content: space-evenly;
    margin-top: 40px;
}

.headline {
    font-family: "ShakaPow";
    font-size: 150px;
    margin: 0px 40px 0px 40px;
    align-self: center;
    letter-spacing: 15px;
    color: $pink;
    text-shadow: $comicShadow;
    }

#links {
    display: flex;
    margin: 25px;
    justify-content: center;
    img { 
        margin: 15px;
        height: 200px;
        width: 200px;
        -webkit-box-shadow: $registryShadow;
        -moz-box-shadow: $registryShadow;
        box-shadow: $registryShadow;
        &:hover{
            cursor: pointer; 
            animation:bounceOut .4s linear;
        }
    }
}

// Video Container
#video_container {
    @include container
}

.footer {
    display: flex;
}

.footer_content {
    height: 40px;
    width: 110%;
    justify-content: stretch;
    background-color: black;
}

@media only screen and (max-width: 670px)  {
    // main container
    
        #main_container {
            justify-content: center;   
        }
        #umbrella_rumor {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
        .rumor {
            font-size: 25px;
        }

        #title {
            width: 100%;
            margin: 0px;
        }

        .logo {
            width: 100%;
            opacity: 0;
            -webkit-animation: $logoAnimation;
            -moz-animation: $logoAnimation;
            -o-animation: $logoAnimation;
            animation: $logoAnimation;
            animation-delay: 1s;
        }
        .path {
            stroke-dasharray: 1000;
            stroke-dashoffset: 1000;
            animation: dash-outer 2s linear;
            animation-fill-mode: forwards;
        }
        
        #path-inner {
            stroke-dasharray: 1000;
            stroke-dashoffset: 1000;
            animation: dash-inner 2s linear;
            animation-fill-mode: forwards;
        }
        .rumor .letter {
            margin-top: 0;
        }
        
    // story container 
    .biopics {
        flex-direction: column;
        justify-content: space-between;
    }
    #biopics {
        height: 100px;
        width: 100px;
        border-radius: 50px;
    }
    // photos container
    #photos_container {
        margin-top: 0px;
    }
    
    // registry container
    #registry_container {
        align-items: center;
        justify-content: space-between;
    }

    .headline {
        font-size: 70px;
        margin: none;
    }

    #links {
        align-content: center;
        img {
            width: 80;
            height: 80;
            padding: 1px;
            background-color: black;
            -webkit-box-shadow: $registryShadow_mobile;
            -moz-box-shadow: $registryShadow_mobile;
            box-shadow: $registryShadow_mobile;
        }
    }

    // photo container
    #portrait {
        min-width: 100%;
        min-height: 500px;
    }

    #text {
        font-size: 15px;
    }

    #event {
        flex-direction: column;
        justify-content: center;
    }

    #paragraph {
        max-width: 100%;
        flex-wrap: wrap;
        p {
        font-family: $basic;
        }
    }

    #partyimg {
        max-width:100%;
    }
    
.biopics {
    flex-direction: row;
    flex-wrap: wrap;
}

#biopic {
    height: 130px;
    width: 130px;
    -webkit-box-shadow: $registryShadow;
    -moz-box-shadow: $registryShadow;
    box-shadow: $registryShadow;
}
    
    }